<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ac_recovery.css">

    <title>Account recovery</title>
</head>
<body>
    <div class="account_recovery_container">
        <div class="account_recovery_inner_container">
            <div class="email_address">
                <img src="./Vector.png" alt="mail icon" class="mail-icon">
                <h2>Enter Email Address</h2>
                <p class="forgot-password-text">
                    Please enter the  email address associated with the account you wish to recover. A reset link will be sent to you.
                </p>
            </div>
            <div class="field">
                <div>
                   <label for="email">Enter your email:</label>
                  <input type="email" id="email" name="email" placeholder="williamdoe@example.com">
              </div>
               <div class="btn1">
                  <button class="next_btn">
                    <a href="http://127.0.0.1:5500/Frontend/forgot_password/check-your-mail.html"> Next</a>
                  </button>
               </div>
               <div class="redirect">
                  <p>
                    <a href="http://127.0.0.1:5500/Frontend/log%20in%20page/index.html">Back to log in</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</body>