<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <img class="img" src="./images/original logo.png" alt="Favitude">
        <ul class="list">
            <li><a href="">Generate</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Tutorials</a></li>
            <li><a href="">About</a></li>
        </ul>
        <a href="" class="log">Log in</a>
        <a href="" class="reg">Register</a>
    </nav>
    <h1>FAQs</h1>
    <div class="main">
        <div class="wrapper">
            <div class="collapsible">
                <input type="checkbox" id="collapsible-head">
            <label for="collapsible-head">What are Favicons?</label>
            <div class="collapsible-text">
                <p>Favicons meaning "favorite icons" are small graphics displayed beside URLs in browsers tabs, search results, history archives and bookmark lists.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible1">
                <input type="checkbox" id="collapsible-head1">
            <label for="collapsible-head1">How Does it Work?</label>
            <div class="collapsible-text1">
                <p>Favicons are used in browser tabs, toolbar apps, bookmarks dropdown, search bar and recommendations as well as as app icons on different devices.
                Generally, the favicon makes it faster to find that web-site or app you're looking for.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible2">
                <input type="checkbox" id="collapsible-head2">
            <label for="collapsible-head2">How to Generate A Favicon</label>
            <div class="collapsible-text2">
                <p>Creating favicons for using Favitude's online generating tool is easy and swift. Just drag and drop an image, or click on the box to upload an image or text to generate a downloadable file with 4 different favicon sizes! There is also a readme included with instructions.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible3">
                <input type="checkbox" id="collapsible-head3">
            <label for="collapsible-head3">How Do I Integrate the Favicons into my Projects?</label>
            <div class="collapsible-text3">
                <p> The downloadable favicon file includes a readme with HTML tags that you can add into the index.html file of your website or wherever your <Head> tags are.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible4">
                <input type="checkbox" id="collapsible-head4">
            <label for="collapsible-head4">Can I download my Favicons for free?</label>
            <div class="collapsible-text4">
                <p>Yes. The use of our online generator tool is FREE and Favicons are free to download.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible5">
                <input type="checkbox" id="collapsible-head5">
            <label for="collapsible-head5">Can I generate my favicon in any resolution/size?</label>
            <div class="collapsible-text5">
                <p>The available sizes for download are as follows: 16 x 16, 32 x 32, 96 x 96 and 256 x 256.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible6">
                <input type="checkbox" id="collapsible-head6">
            <label for="collapsible-head6">Does my Favicon have embeded codes</label>
            <div class="collapsible-text6">
                <p>The Favicons you generate using our tool comes with <HTML> code that allows for easy integration and no need for additional coding.</p>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible7">
                <input type="checkbox" id="collapsible-head7">
            <label for="collapsible-head7">Can I save my favicon for future download?</label>
            <div class="collapsible-text7">
                <p>Yes. However, this feature is only available to users who sign up on the website. Registration is FREE and it takes less than 2 mins to complete.</p>
            </div>
            </div>
        </div>
        <div class="bot">
            <div class="botdiv1">
                <img src="./images/original logo.png" alt="">
                <p>&copy; 2022 All Right Reserved</p>
            </div>
            <div class="botdiv2">COMPANY
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="botdiv3">SUPPORT
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Tutorials</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Help/Resources</a></li>
                </ul>
            </div>
            <div class="top">
                <a href="http://127.0.0.1:5500/FAQs.html"><img src="./images/arrow-up.png" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>