<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./forgot_password.css">

    <title>Forgot Password</title>
</head>
<body>
    <div class="forgot-password-container">
        <div class="forgot-password-inner-container">
            <div class="forgot-password-first">
                <img src="#" alt="" class="forgot-password-icon">
                <h2>Set New Password</h2>
                <p class="forgot-password-text">
                    Your new password must be different to previously used passwords
                </p>
            </div>

            <div class="forgot-password-second input">
                <div class="forgot-password-password-input">
                    <label for="">Password</label>
                    <div class="password-section-one">
                        <input type="text" class="forgot-password-input" placeholder="Min. 8 characters">
                        <div class="password-icon">
                            <img src="./icons/pass.png" alt="" class="password-img-one">
                        </div>
                    </div>
                </div>

                <div class="forgot-password-confirmpassword-input">
                    <label for="">Confirm password</label>
                    <div class="password-section-two">
                        <input type="text" class="forgot-password-confirminput" placeholder="Min. 8 characters">
                        <div class="password-icon">
                            <img src="./icons/pass.png" alt="" class="password-img-two">
                        </div>
                    </div>
                </div>

                <button class="forgot-password-btn">
                    <a href="http://127.0.0.1:5500/Frontend/forgot_password/password-reset.html"> Reset password</a>
                </button>

                <p class="forgot-password-login">
                    <a href="http://127.0.0.1:5500/Frontend/log%20in%20page/index.html">
                        Back to log in
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>