{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="{% static 'CSS/tutorial.css' %}">
    <script type="text/javascript" src="tutorial.js"></script>
</head>
<body>
    <div id ="header">
        <div id="navbar">
            <div class="navbar_logo">
                <img src="{% static 'images/images-tutorial/original_logo.png' %}" alt="logo">
            </div>
            <div class="navbar1">
                <ul>
                    <li><a href="{% url 'Hill:generate_page' %}">Generate</a></li>
                    <li><a href="{% url 'Hill:documentation_page' %}">Documentation</a></li>
                    <li><a href="{% url 'Hill:tutorial_page' %}">Tutorials</a></li>
                    <li><a href="{% url 'Hill:about_page' %}">About</a></li>
                </ul>
            </div>

            <div class="navbar_btn">
                <div>
                  <a href="{% url 'Hill:login_page' %}">
                    <button class="btn1" type="submit">Login</button>
                </a>
                </div>
                <div>
                  <a href="{% url 'Hill:signup_page' %}">
                    <button class="btn2" type="submit">Register</button>
                  </a>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div>
            <p class="hTEXT">Tutorials</p>
        </div>
    <div class="body">
        <div class="wrapper">
            <div class="collapsible">
                <input type="checkbox" id="collapsible-head">
                <label for="collapsible-head">How to generate Favicons from Text</label>
                <div class="collapsible-text">
                    <div>
                        <h6>Step 1:</h6>
                        <p>Click on generate favicon from the home page</p>
                    </div>
                    <div>
                        <h6>Step 2:</h6>
                        <p>Click on Text generator</p>
                    </div>
                    <div>
                        <h6>Step 3:</h6>
                        <p>Enter prefered text, font family, font size, background shape, font color and background color.</p>
                    </div>
                    <div>
                        <h6>Step 4:</h6>
                        <p>Click generate favicon button</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible1">
                <input type="checkbox" id="collapsible-head1">
                <label for="collapsible-head1">How to generate favicons from Image</label>
                <div class="collapsible-text1">
                    <div>
                        <h6>Step 1:</h6>
                        <p>Click on generate favicon from the home page</p>
                    </div>
                    <div>
                        <h6>Step 2:</h6>
                        <p>Click on Image generator</p>
                    </div>
                    <div>
                        <h6>Step 3:</h6>
                        <p>Choose image</p>
                    </div>
                    <div>
                        <h6>Step 4:</h6>
                        <p>Click generate favicon button</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible2">
                <input type="checkbox" id="collapsible-head2">
                <label for="collapsible-head2">How to add favicon to a website - ICO format</label>
                <div class="collapsible-text2">
                    <div class="group3-text">
                        <div>
                            <h6>Step 1: Name Your Favicon</h6>
                            <p>Make sure that your favicon is named favicon.ico. The naming of the file is important because web browsers automatically look for a file with that specific name.</p>
                        </div>
                        <div>
                            <h6>Step 2: Upload Your Favicon </h6>
                            <p>Upload your favicon to your website's main or root directory. The file should be accessible at yourwebsite.com/favicon.ico. The location of the file is important because web browsers will automatically look for a file named favicon.ico in that specific location.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="collapsible3">
                <input type="checkbox" id="collapsible-head3">
                <label for="collapsible-head3">How to add favicon to a website - PNG format</label>
                <div class="collapsible-text3">
                    <div>
                        <h6>Step 1: Name Your Favicon</h6>
                        <p>While not required, we recommend that you name your PNG formatted favicon favicon.png. If you want to use a custom name then head to this <a href="https://youtu.be/pA8103S-yqk"> advanced tutorial.</a></p>
                    </div>
                    <div>
                        <h6>Step 2: Upload Your Favicon </h6>
                        <p>While not required, we recommend that you upload your favicon to your website's main or root directory. The file should be accessible at yourwebsite.com/favicon.ico. If you want to use a custom location then head to this<a href="https://youtu.be/pA8103S-yqk"> advanced tutorial.</a></p>
                    </div>
                    <div>
                        <h6>Step 3: Link to Your Favicon </h6>
                        <p>You will need tell the web browser the location of your favicon. This requires placing a link tag within the head tag of your website. An example of the link tag is shown below. You will need to replace the value of the href attribute with the location of your PNG formatted favicon. <link rel="icon" href="http://www.yourwebsite.com/favicon.png"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_content">
            <div class="first_footer_content">
                <img src="{% static 'images/images-tutorial/footer_logo.png' %}" alt="logo">
                <p>© 2022 All Rights Reserved</p>
            </div>
            <div class="second_footer_content">
                <a href="#" id="standout_text">COMPANY</a>
                <a href="{% url 'Hill:about_page' %}">About us</a>
                <a href="{% url 'Hill:privacy_page' %}">Privacy Policy</a>
                <a href="#">Work with us</a>
                <a href="#">Terms & Conditions</a>
            </div>
            <div class="third_footer_content">
                <a href="#" id="standout_text">SUPPORT</a>
                <a href="{% url 'Hill:contact_page' %}">Contact us</a>
                <a href="{% url 'Hill:FAQs_page' %}">FAQs</a>
                <a href="{% url 'Hill:tutorial_page' %}">Tutorials</a>
                <a href="{% url 'Hill:documentation_page' %}">Documentation</a>
            </div>
        </div>

        <div class="arrow_up">
            <img src="{% static 'images/images-tutorial/arrow_up.png' %}" alt="Back to the top">
        </div>
    </footer>

    
</body>
</html>