@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");


*:root{
  --font: 'Roboto'
}



* {
  margin: 0px;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 66px;
  background-color: #0e5b87;
  justify-content: space-between;
}

.navbar_logo {
  width: 153px;
  height: 37px;
  margin-left: 121px;
}

.navbar1 {
  gap: 20px;
  align-items: center;
  margin-right: 100px;
}

.navbar1 a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  font-family: var(--font);
}

.navbar_avatar {
  margin-right: 121px;
  color: white;
  text-decoration: none;
}


.navbar_avatar img{
  height: 32px;
  width: 32px;
}


li {
  padding: 10px;
  list-style-type: none;
  display: inline-block;
}

a:hover {
  background-color: #c5e8fd;
}

/* .hero img{
  object-fit: cover;
  width: 100%;
  height: auto;
} */

header{
  height: 720px;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8)), url("Images-about\about_hero.png");
  background: url("Images-about\about_hero.png");
  background-size: cover;
  background: #3aa0da; /*fallback for old browsers */
  background-repeat: no-repeat;
}

.hero-text{
  padding: 180px 285px;
  align-items: center ;
  justify-content: center;
  /* background-image: url(Images-about\about_hero.png); */
  
}

.hero-text h1{
  font-family: var(--font);
  font-style: normal;
  font-weight: 300;
  line-height: 112px;
  font-size: 96px;
  letter-spacing: -0.015em;
  color: white;
  padding-bottom: 40px;
}

.hero-text p{
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-size: 24px;
  color: white;
}

main{
  display: flex;
  padding: 120px 246px;
  align-items: center;
  justify-content: center;
}

.main-image{
padding-right: 151px;
}

h4{
  font-family: var(--font);
  font-style: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
  
}

.main-text h4{
  font-weight: 700;
  color: #DA743A;
  padding-bottom: 33px;
  width: 384px;
}

.main-text p{
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #A59292;
  padding-bottom: 33px;
  width: 384px;
}

.features{
  display: flex;
  flex-direction: column;
  background-color: #3aa0da;
  padding-bottom: 151px;
}

.features h4{
  font-weight: 400;
  color: white;
  padding: 80px 520px;

}

.feature-grid{
  display: grid;
  grid-template-areas: 
  "a b"
  "c d";
  gap: 100px;
  width: 80%;
  margin: auto;
}

.grid-item-1{
  grid-area: a;
  display: flex;
}

.grid-item-2{
  grid-area: b;
  display: flex;
}

.grid-item-3{
  grid-area: c;
  display: flex;
}

.grid-item-4{
  grid-area: d;
  display: flex;
}

.feature-grid h5{
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 24px;

}

.copy{
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  letter-spacing: 0.0015em;
  color: #FFFFFF;
}

.text{
  width: 285px;
}

.testimonials{
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.reviews{
  display: flex;
  justify-content: center;
}



.review1{
  width: 305px;
  padding-right: 62px;
  text-align: justify;
  
}

.review1.number3{
  padding-right: 0px;

}

.review1 .copy{
  color: #494646;
  height: 235px;
  margin-bottom: 30px;
}

.testimonials h4{
  font-weight: 400;
  color: #3aa0da;
  padding-bottom: 80px;

}


h6{
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
  letter-spacing: 0.0015em;
  color: #080707;

}

.subtitle{
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #A59292;

}

.keep-creating{
  height: 281px;
  background-color: #080707;
  color: #FFFFFF;
  padding: 112px 202px;
}

h3{
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

footer {
  background: #0e5b87;
}

.footer_content {
  display: flex;
  flex-direction: row;
  padding: 67px 260px 0px 160px;
}
.first_footer_content p {
  color: #ffffff;
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
}
.second_footer_content,
.third_footer_content {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-left: 380px;
}

.second_footer_content a,
.third_footer_content a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.001em;
}

.third_footer_content {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-left: 160px;
}
#standout_text {
  font-size: 20px;
}

.arrow_up {
  /* float: right; */
  margin-left: 1300px;
  margin-top: 70px;
  padding-bottom: 63px;
}


@media screen and (max-width: 450px) {
  * {
    margin: 0px;
    box-sizing: border-box;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18px;
    background-color: #0e5b87;
    justify-content: space-between;
  }
  
  .navbar_logo {
    width: 43px;
    height: 10px;
    margin-left: 34px;
  }
  
  .navbar1 {
    gap: 5px;
    align-items: center;
    /* margin-right: 100px; */
  }
  
  .navbar1 a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0125em;
    font-family: var(--font);
  }
  
  .navbar_avatar {
    margin-right: 44px;
    color: white;
    text-decoration: none;
  }
  
  
  .navbar_avatar img{
    height: 9.5px;
    width: 9.5px;
  }
  
  
  li {
    padding: 5px;
    list-style-type: none;
    display: inline-block;
  }
  
  a:hover {
    background-color: #c5e8fd;
  }

  header{
    height: 199px;
    max-width: 360px;
    background: linear-gradient(rgba(0, 0, 0, 0.8)), url("Images-about\about_hero.png");
    background: url("Images-about\about_hero.png");
    background-size: cover;
    background: #3aa0da; /*fallback for old browsers */
    background-repeat: no-repeat;
  }
  
  header .hero-text{
    padding: 52px 43px;
    align-items: center ;
    justify-content: center;
    background-image: url(Images-about\about_hero.png);
    
  }
  
  .hero-text h1{
    font-family: var(--font);
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    font-size: 24px;
    letter-spacing: -0.015em;
    color: white;
    padding-bottom: 10px;
  }
  
  .hero-text p{
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    font-size: 8px;
    color: white;
  }
  
  main{
    display: flex;
    padding: 28px 42px;
    align-items: center;
    justify-content: center;
  }
  
  .main-image{
  padding-right: 38px;
  }
  
  h4{
    font-family: var(--font);
    font-style: normal;
    font-size: 9.5px;
    line-height: 11px;
    letter-spacing: 0.0025em;
    
  }
  
  .main-text h4{
    font-weight: 700;
    color: #DA743A;
    padding-bottom: 10px;
    width: 108px;
  }
  
  .main-text p{
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 5.6px;
    line-height: 7px;
    letter-spacing: 0.0015em;
    color: #A59292;
    padding-bottom: 10px;
    width: 108px;
  }
  
}
