@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*{
    margin: 0px;
    box-sizing: border-box;
}
.content{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 110px;
}

.left img{
    margin-top: 40px;
}

.left h4{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
/* identical to box height */


letter-spacing: 0.0025em;

/* Grey/900 */

color: #080707;
margin-top: 15px;
}

#first{
/* Subtitle 1 / normal */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.0015em;

/* Grey/900 */

color: #080707;
margin-bottom: 52px;
}

#second{
    /* Subtitle 1 / normal */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.0015em;

/* Grey/900 */

color: #080707;
margin-bottom: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.links a {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


letter-spacing: 0.0125em;

/* Primary/300 */

color: #70C3F2;
}