@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary: #70C3F2;
    --input: #A59292;

    --font: 'roboto', sans-serif;
}

body {
    font-family: var(--font);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* forgot-password */
.forgot-password-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-inner-container {
    height: 60%;
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.forgot-password-first {
    text-align: center;
    padding: 30px 0;
}

.forgot-password-first h2 {
    margin-bottom: 20px;
    font-size: 34px
}

.forgot-password-first p {
    font-size: 16px;
}

.forgot-password-btn {
    background: var(--primary);
    padding: 10px 24px;
    border-radius: 4px;

    color: #fff;

    cursor: pointer;
    border: none;
    outline: none;

    font-size: 14px;
    margin-bottom: 20px;
}

.forgot-password-btn a{
    /* text-decoration: none; */
    color: #fff;
}


/* set-new-password */
.password-section-one {
    display: flex;

    position: relative;
    margin-bottom: 30px;
    margin-top: 5px;
}

.forgot-password-input, .forgot-password-confirminput {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--input);

    outline: none;
}

.password-img-one {
    width: 20px;
    height: 20px;
    
    position: absolute;
    top: 28%;
    right: 5%;
    cursor: pointer;

}

.password-section-two {
    display: flex;

    position: relative;
    margin-bottom: 30px;
    margin-top: 5px;
}

.forgot-password-second.input {
    padding: 12px;
    width: 55%;

    border-radius: 4px;
}

.password-img-two {
    width: 20px;
    height: 20px;
    
    position: absolute;
    top: 28%;
    right: 5%;
    cursor: pointer;

}

.forgot-password-second, .forgot-password-btn {
    width: 100%;
}

.forgot-password-login, .no-email {
    text-align: center;
}

.forgot-password-login a, .no-email a {
    text-decoration: none;
}

/* check your email */
.no-email {
    margin-bottom: 20px;
}



/* password reset*/
a {
    text-decoration: none;
}

@media screen and (max-width:540px) {
    .forgot-password-first h2 {
        font-size: 21.04px
    }

    .forgot-password-second.input {
        width: 100%;
    
        border-radius: 2.48px;
    }
}


